<!-- <full-calendar [options]="calendarOptions"></full-calendar> -->
<div class="logo" style="text-align: center;">
    <a href="#"><img id="logo" src="/assets/Frame.png"></a>
    <div class="button" routerLink="../" style="display:flex; flex-grow: 1; margin: 0; position: absolute; top: 8%; left: 75%; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);background: #ffffff; color:blueviolet;  box-shadow: 0px 3px 12px rgba(74, 58, 255, 0.18); border-radius: 56px;border: 1px; font-style: normal;font-weight: 400;font-size: 18px;line-height: 20px;text-align: center;flex: none;order: 0;flex-grow: 0;">Voltar</div>
  </div>
<div class="Frame-externo">
    <div class="calendario">
        <full-calendar [options]="calendarOptions"></full-calendar>
    </div>
</div>
