<div class="logo">
    <a href="#"><img id="logo" src="/assets/Frame.png"></a>
  </div>
  
  
  <div class="Frame-externo">
    <div class="LoginName">registrar-se</div>
    <!-- <div class="Frame-interno-esquerda"> -->
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input #emailInput class="input" type="email" placeholder="Email">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input #passwordInput class="input" type="password" placeholder="Password">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <button class="button" (click)="onSingupButtonClicked(emailInput.value, passwordInput.value)">
      Criar conta
    </button>
    <button id="voltarParaHome" routerLink="/home" class="button">
      Voltar
    </button>
  </div>
  <!-- </div> -->